# from the server on which you'd like to execute this script at a given interval, run this command:
crontab -e

# then define the cronjob like so (or however you see fit):

* * * * * /path/to/project /path/to/python3 /path/to/main.py >/dev/null 2>&1

# refer to this SO post regarding '>/dev/null 2>&1'
https://unix.stackexchange.com/a/163359





